# Ignore the node_modules directory

22_apis/api_practice/api_tutorial/API_request_with_keys
.idea
venv
.DS_Store
_unused
/22_api/api_venv
scret.py
# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modulest

# Ignore files related to API keys
.env
